<a href="#" data-toggle="popover" title="Connection" data-content="Connection: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? '(Testnet)' : ''%>"><i class="fa fa-align-justify fa-3x"></i></a>
