<button type="button" class="btn btn-default btn-info" data-toggle="popover" title="Connection" data-content="Connection: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? '(Testnet)' : ''%>">Connection</button>
