<a href="#" data-toggle="popover" title="Connection" data-placement="top" data-trigger="focus" data-content="Connection: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? '(Testnet)' : ''%>"><i class="fa fa-align-justify"></i></a>
