<ul class="nav navbar-nav">
  <div class="navbar-form navbar-left">
    <button type="button" class="btn btn-default" onclick="bundle.Main.refresh();">Refresh</button>
  </div>
  <li><a href="#" data-toggle="modal" data-target="#fund_modal">Funds <span class="badge"><%= bundle.utility.weiToEth(funds) %> eth</span></a></li>
  <li><a href="#" data-toggle="modal" data-target="#fund_modal">Available <span class="badge"><%= bundle.utility.weiToEth(fundsAvailable) %> eth</span></a></li>
</ul>
