body, html {
  width: 800px;
  margin: 0 auto;
}

#header {
  width: 100%;
  font-size: 2em;
  height: 100px;
  padding: 0;
}
#header .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#header img {
  height: 60px;
  vertical-align: middle;
}

#content {
  padding-bottom: 1em;
}

#footer {
  background: #eee;
  padding: 1em;
  border-top: 1px solid #ccc;
  margin-bottom: 1em;
}

#connection {
  clear: both;
}

.navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  height: 100%;
}

.no-nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

#market-spinner {
  margin-bottom: 1em;
}
#market {

}
